.payment__message,
.payment__btn--wrapper {
  width: 404px;
  margin: 1em auto !important;
}

.payment__btn {
  width: 49%;
}

.cc-label,
.ach-label {
  font-size: 200%;
}
#card-expdate.card-expdate-container, 
#card-cvc.card-cvc-container, 
#card-postalcode.card-postalcode-container {
  width: 30%;
  display: inline-grid !important;
}