.terms {
  text-align: left;
}

td, th {
  border: 1px solid;
  padding: 0.5em;
}

.terms__md-editor {
  margin-top: 2em;
}
.terms__text {
  font-weight: 700;
}
.terms__checkbox {
  margin: 1em;
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.terms__buttons {
  display: flex !important;
  justify-content: center;
  margin: 1em;
}

.terms__buttons .button{
  width: 25%;
}