.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  margin-bottom: 2em;
  font-weight: 600;
}

